* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: hsl(0, 100%, 67%);
    --yellow: hsl(39, 100%, 56%);
    --green: hsl(166, 100%, 37%);
    --blue: hsl(234, 85%, 45%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Hanken Grotesk', sans-serif;
    align-items: center;

}

span > p {
    font-size: 21px;
}

.textgr {
    color: rgba(245, 245, 245, 0.692);
    line-height: 27px;
}

#sup > h1 { 
    margin-bottom: 20px;
}

#of100 {
    font-size: 18px;
}

#sup > h2, p {
    font-size: 18px;
}

#m-container {
    display: flex;
    text-align: center;
    height: 80vh;
    width: 100vw;
    background-image: linear-gradient(#7857ff, #2e2be9);
    justify-content: center;
    color: white;
    line-height: 100px;
    align-items: center;
    border-radius: 0px 0px 35px 35px;
    
}

#ball {
    height: 120px;
    width: 120px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#4e21ca, #2421ca00);
    margin-bottom: 25px;
    line-height: 33px;
}

/* s-container */

span > i {
    padding-right: 10px;
}

p > span {
    width: 60px;
}


.skill-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 86px;
    padding: 0px 0px 0px 25px;
    border-radius: 20px;
}

.skill-items > p {
    padding-right: 25px;
}

#s-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    padding: 13px 0px;
}

#s-container > h2 {
    align-self: flex-start;
    font-size: 24px;
    margin-top: 20px;
}

#skill-container {
    height: 80%;
    width: 80vw;
    line-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

#cbutton {
    height: 60px;
    width: 80vw;
    background-color: hsl(224, 30%, 27%);
    border-radius: 100px;
    color: rgb(230, 229, 229);
    font-size: 20px;
}

#cbutton:hover {
    color: black;
    background-color: white;
}

#cbutton:active {
    transform: scale(0.97);
}

#reaction{
    color:var(--red);
    
}

#memory {
    color:var(--yellow);
}

#verbal {
    color: var(--green);
}

#visual {
    color: var(--blue);
}

.power-characters {
    font-weight: bold;
}

#skill-0 {
    background-color: #FFF6F6; /* Reaction*/    
}

#skill-1 {
    background-color: #FFFAF3; /* Memory*/
}

#skill-2 {
    background-color: #F3FBFA; /* Verbal*/
}

#skill-3 {
    background-color: #F3F3FC; /* Visual*/
}
